body {
  margin: 0;
}
/*background image*/
header {
  background-blend-mode:overlay;
  background: url(images/waves.jpg) no-repeat center hsla(212, 75%, 37%, 1);
  background-size: cover;
  height: 523px;
  width: 100%;

}

img{
  max-width: 100%;
}

.header-content{
  color: white;
  padding: 0;
  margin: 0;
}
.header-content {
  text-align: center;
  margin: 0;
}

.header-nav > img {
  float: left;
}


.title {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  vertical-align: middle;
  font-family: Open Sans, sans-serif;
}

.title h1 {
  line-height: 75px;
  font-size: 75px;
  margin: 200px auto auto auto;
  color: #eee;
}

.title h2 {
  font-size: 12px;
  line-height: 12px;
  padding: 0;
  margin: 16px auto 195px auto;
  color: #073551;
}


.header-nav {
  display: inline-block;
  margin: 0 auto;
  max-width: 910px;
  vertical-align: top;
}

.header-nav a{
  display: inline-block;
  text-decoration: none;
  float: right;
  color: white;
  margin: 25px auto auto auto;
  padding: 0;
  font-family: Oswald, sans-serif;
  font-size: 12px;
}

.header-nav h2 {
  display: inline-block;
  float: left;
  padding: 0;
  margin: 25px 400px auto auto;
  font-family: Open Sans, sans-serif;
  line-height: 12px;
  font-size: 12px,
}
