body {
  margin: 0;
}
/*background image*/
header {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(32, 92, 149, 0.8),
      rgba(32, 92, 149, 0.8)

    ),
    /* bottom, image */
    url(images/waves.jpg) no-repeat center;
    background-size: cover;
  height: 523px;
  width: 100%;
}
ul {
  display: inline-block;
}

img{
  max-width: 100%;
}

.header-content{
  color: white;
  padding: 0;
  margin: 0;
}
.header-content {
  text-align: center;
  margin: 0;
}


.title {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  /*vertical-align: middle;*/
  font-family: Open Sans, sans-serif;
}

.title h1 {
  line-height: 90%;
  font-size: 96px;
  width: 900px;
  margin: 159px auto auto auto;
  color: #eee;
}

.title h2 {
  font-size: 15px;
  font-weight: bold;
  padding: 0;
  margin: 7px auto 195px 17px;
  color: #073551;
}


.header-nav {
  display: inline-block;
  text-decoration: none;
  margin: 0 auto;
  width: 990px;
  vertical-align: top;
}
  .nav-links {
    padding: 0;
    margin:-9px -33px 0 0;
    font-family: Oswald, sans-serif;
    letter-spacing: 1px;

}
.nav-links li{
  list-style: none;
  display: inline-block;
  margin-top: 22px;
  padding: 0;
  font-family: Oswald, sans-serif;
  font-size: 16px;
  margin-left: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #073551;
}

.nav-links img {
  position: relative;
  top: 5px;
  right: 19px;
}


.header-nav h2 {
  display: inline-block;
  float: left;
  margin: 25px 566px auto auto;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 15px;
  font-weight: bold;
  color: #073551;
}
/*nav icons*/
.header-nav::before {
  content: url(images/logo.png);
  float: left;
  padding-top: 5px;
  position: relative;
  top: 1px;
  right: 8px;
}



/*******************************
content
*******************************/
.content {
  display: inline-block;
  margin: 0 auto;
}

/*********************************
column 1
*********************************/

.column-one {
  display: inline-block;
  margin-top: 65px;
  margin-right: 80px;
  max-width: 613px;
  margin-left: 165px;
  vertical-align: top;
  margin-bottom: -2px;
}

.column-one h1 {
  display: inline-block;
  font-family: Oswald, sans-serif;
  color: #073551;
  font-size: 62px;
  margin: 0 0 0 0;
  line-height: 112%;
  letter-spacing: 0.3px;
}
.column-one img {
  width: 22px;
  height: 22px;
  border-radius: 11px;
  position: relative;
  left: 4px;
  margin-top: 7px;

}

.column-one h2,
.column-one h3 {
  display: inline-block;
  margin: 0;
}

.column-one > h2 {
  margin-right: 10px;
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  margin-left: 8px;
  position: relative;
  bottom: 4px;
  color: #073551;
}

.column-one h3 {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  position: relative;
  bottom: 4px;
  color: #BAC6D0;
}

.column-one > h3 > a {
  text-decoration: underline;
  color: #BAC6D0;
}

.column-one p {
  font-family: Source Sans Pro, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0.2px;
  margin-top: 30px;
}

.column-one p > a {
  color: #A0B1BD;
}

.mid-heading h2 {
  font-family: Open Sans, sans-serif;
  text-transform: uppercase;
  color: #0E6EB3;
  font-size: 27px;
  border-left: 2px solid grey;
  padding: 13px 0px 10px 17px;
  margin-left: 5px;
}

.c1-p1 p {
  display: inline-block;
  margin-top: 23px;
}

.c1-p1 p > a {
  color: #0E6EB3;
}

.c1-p2 p {
  display: inline-block;
  margin-top: 9px;
}

.boxes {
  display: inline-block;;
  padding: 3px;
  margin: 0 0 68px 0;
}

.boxes li{
  display: inline-block;
  list-style: none;
  font-family: Source Sans Pro, sans-serif;
  margin-right: 8px;
}
.boxes a {
  text-decoration: none;
  display: inline-block;
}

.boxes i {
  color: white;
  background-color: #5D686F;
  padding: 8px 8px 5px 9px;

}


#blue > a > i {
  background-color: #073551;
}
#blue > a > span {
  background-color: #0F6DB3;
}

.boxes > li > a > span {
  background-color: #A3B2BF;
  padding: 7px 14px 4px 12px;
  font-size: 14px;
  font-weight: bolder;
  color: white;
  letter-spacing: 0.4px;
}
/*********************************
column 2
*********************************/
.column-two {
  display: inline-block;
  max-width: 278px;
  margin-top: 83px;
}

.c2header {
  text-align: center;
}

.c2header img {
  width: 84px;
  height: 82px;
  border-radius: 42px;
}

.c2header h2 {
  margin: 10px 0 0 0;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #073551;

}

.c2header  ul {
  list-style: none;
  padding: 0;
  margin: 0 0 55px 0;

}

.c2header a {
  text-decoration: none;
  color: #A3B2BF;
}

.c2header li {
  display: inline-block;
  margin-right: 12px;
  font-family: Source Sans Pro, sans-serif;
  font-size: 15px;
  position: relative;
  left: 10px;
}

.ad {
  position: relative;
  bottom: 4px;
}

.ad img {
  width: 278px;
  height: 300px;
}

.ad a {
  color: grey;
  font-family: Source Sans Pro, sans-serif;
  float: right;
  font-size: 15px;
  margin-top: 1px;
}

.closing h3 {
  display: inline-block;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  color: #0E6DB3;
  margin: 61px 0 0 0;
  font-size: 18px;
  position: relative;
  left: 1px;
}

.closing p {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
  font-weight: initial;
  margin-top: 4px;
  line-height: 24px;
  position: relative;
  left: 1px;
}

/******************************
Footer
*******************************/

.f-heading h1 {
  font-family: Oswald, sans-serif;
  color: #073551;
  text-align: center;
  font-size: 63px;
  text-transform: uppercase;
  margin: 0px 0px 29px 16px;
  padding-top: 24px;
  border-top: 1px solid #E1E7EA;
}
.pictures {
  display: inline-block;
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0;
}

.img {
  width: 25%;
  float: left;
}
.img h2 {
  position: relative;
  top: 254px;
  font-family: Oswald;
  font-size: 30px;
  text-transform: uppercase;
  left: 16px;
  color: gray;
}
.img-1 {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(32, 92, 149, 0.8),
      rgba(32, 92, 149, 0.8)

    ),
    /* bottom, image */
    url(images/street.jpg) no-repeat center;
    background-size: cover;

    height: 330px;
}

.img-1 a {
  text-decoration: none;
  display: inline-block;
}

.img-1 h2 {
  display: inline-block;

}

.img-1 li {
  width: 25%;
}

.img-2 {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(32, 92, 149, 0.8),
      rgba(32, 92, 149, 0.8)

    ),
    /* bottom, image */
    url(images/lauren.jpg) no-repeat center;
    background-size: cover;

    height: 330px;
}

.img-2 a {
  text-decoration: none;
  display: inline-block;
}

.img-2 h2 {
  display: inline-block;

}

.img-2 li {
  width: 25%;
}

.img-3 {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(32, 92, 149, 0.8),
      rgba(32, 92, 149, 0.8)

    ),
    /* bottom, image */
    url(images/nyc.jpg) no-repeat center;
    background-size: cover;

    height: 330px;

}

.img-3 a {
  text-decoration: none;
  display: inline-block;
}

.img-3 h2 {
  display: inline-block;
  max-width: 222px;
  font-size: 27px;
  top: 225px;
  line-height: 35px;
  letter-spacing: 1.1px;

}

.img-3 li {
  width: 25%;
}

.img-4 {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(32, 92, 149, 0.8),
      rgba(32, 92, 149, 0.8)

    ),
    /* bottom, image */
    url(images/albert.jpg) no-repeat center;
    background-size: cover;

    height: 330px;


}

.img-4 a {
  text-decoration: none;
  display: inline-block;
}

.img-4 h2 {
  display: inline-block;
}

.img-4 li {
  width: 25%;
}
