body {
  margin: 0;
}
/*background image*/
header {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(32, 92, 149, 0.8),
      rgba(32, 92, 149, 0.8)

    ),
    /* bottom, image */
    url(images/waves.jpg) no-repeat center;
    background-size: cover;
  height: 523px;
  width: 100%;
}
ul {
  display: inline-block;
}

img{
  max-width: 100%;
}

.header-content{
  color: white;
  padding: 0;
  margin: 0;
}
.header-content {
  text-align: center;
  margin: 0;
}


.title {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  /*vertical-align: middle;*/
  font-family: Open Sans, sans-serif;
}

.title h1 {
  line-height: 90%;
  font-size: 96px;
  width: 900px;
  margin: 159px auto auto auto;
  color: #eee;
}

.title h2 {
  font-size: 15px;
  font-weight: bold;
  padding: 0;
  margin: 7px auto 195px 17px;
  color: #073551;
}


.header-nav {
  display: inline-block;
  text-decoration: none;
  margin: 0 auto;
  width: 990px;
  vertical-align: top;
}
  .nav-links {
    padding: 0;
    margin:-9px -33px 0 0;
    font-family: Oswald, sans-serif;
    letter-spacing: 1px;

}
.nav-links li{
  list-style: none;
  display: inline-block;
  margin-top: 22px;
  padding: 0;
  font-family: Oswald, sans-serif;
  font-size: 16px;
  margin-left: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #073551;
}

.nav-links img {
  position: relative;
  top: 5px;
  right: 19px;
}


.header-nav h2 {
  display: inline-block;
  float: left;
  margin: 25px 566px auto auto;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 15px;
  font-weight: bold;
  color: #073551;
}
/*nav icons*/
.header-nav::before {
  content: url(images/logo.png);
  float: left;
  padding-top: 5px;
  position: relative;
  top: 1px;
  right: 8px;
}



/*******************************
content
*******************************/
.content {
  display: inline-block;
  margin: 0 auto;
}

/*********************************
column 1
*********************************/

.column-one {
  display: inline-block;
  margin-top: 65px;
  margin-right: 80px;
  max-width: 613px;
  margin-left: 165px;
  vertical-align: top;
}

.column-one h1 {
  display: inline-block;
  font-family: Oswald, sans-serif;
  color: #073551;
  font-size: 62px;
  margin: 0 0 0 0;
  line-height: 112%;
  letter-spacing: 0.3px;
}
.column-one img {
  width: 22px;
  height: 22px;
  border-radius: 11px;
  position: relative;
  left: 4px;
  margin-top: 7px;

}

.column-one h2,
.column-one h3 {
  display: inline-block;
  margin: 0;
}

.column-one > h2 {
  margin-right: 10px;
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  margin-left: 8px;
  position: relative;
  bottom: 4px;
  color: #073551;
}

.column-one h3 {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  position: relative;
  bottom: 4px;
  color: #BAC6D0;
}

.column-one > h3 > a {
  text-decoration: underline;
  color: #BAC6D0;
}

.column-one p {
  font-family: Source Sans Pro, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
/*********************************
column 2
*********************************/
.column-two {
  display: inline-block;
  max-width: 278px;
  margin-top: 83px;
}

.c2header {
  text-align: center;
}

.c2header img {
  width: 84px;
  height: 82px;
  border-radius: 42px;
}

.c2header h2 {
  margin: 10px 0 0 0;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #073551;

}

.c2header  ul {
  list-style: none;
  padding: 0;
  margin: 0 0 55px 0;

}

.c2header a {
  text-decoration: none;
  color: #A3B2BF;
}

.c2header li {
  display: inline-block;
  margin-right: 12px;
  font-family: Source Sans Pro, sans-serif;
  font-size: 15px;
  position: relative;
  left: 10px;
}

.ad {
  position: relative;
  bottom: 4px;
}

.ad img {
  width: 278px;
  height: 300px;
}

.ad a {
  color: grey;
  font-family: Source Sans Pro, sans-serif;
  float: right;
  font-size: 15px;
  margin-top: 1px;
}

.closing h3 {
  display: inline-block;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  color: #0E6DB3;
  margin: 61px 0 0 0;
  font-size: 18px;
  position: relative;
  left: 1px;
}

.closing p {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
  font-weight: initial;
  margin-top: 4px;
  line-height: 24px;
  position: relative;
  left: 1px;
}
